[global]
# username and password (choose one)
username = "username"
# password = "password"
# use_keyring = true

# backend selection
backend = "pulseaudio"
volume_controller = "alsa"

# setup name and type of device
device_name = "device_name"
device_type = "device_type"

# setup quality of stream
bitrate = 320

# setup initial volume
initial_volume = "50"
volume_normalisation = true
